@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600&family=Euphoria+Script&family=Thasadith:wght@400;600;800&display=swap');

/* ##### GENERAL STYLES AND TYPOGRAPHY ##### */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B1E18;
}

.btn {
    display: inline-block;
    background-color: #FFDCBB;
    color: #2B1E18;
    border: 2px solid #2B1E18;
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s
}

.btn:hover {
    background-color: #2B1E18;
    color: #FFDCBB;
}

.fix-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* # Fonts # */

h1,
h2,
p {
    font-family: "Thasadith", sans-serif;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-family: "Euphoria Script", sans-serif;
    font-size: 2rem;
}

a {
    font-family: "Commissioner", sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
}

i {
    font-size: 1.6rem;
}


/* ##### NAVBAR ##### */

navbar {
    background-color: #2B1E18;
    color: #FFDCBB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    background: url("../images/logo-transparent.gif") no-repeat center;
    background-size: cover;
    height: 67px;
    width: 111px;
    margin: 5px;
}

.navbar-items {
    display: flex;
}

.navbar-items li {
    list-style: none;
    text-align: center;
    width: 70px;
    margin: 0 5px;
}

.navbar-items a{
    color: #FFDCBB;
    transition: 0.2s;
}

.navbar-items a:hover {
    font-weight: bold;
}


/* ##### BANNER ##### */

/* # Banner title section # */

.banner {
    background-color: #FFDCBB;
    color: #2B1E18;
    position: relative;
}

.banner-title {
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.banner-title p:last-of-type {
    margin: 10px 0 5px 0;
    font-size: 0.8rem;
    font-weight: 600;
}

/* # Banner image section # */

.banner-bg {
    background: no-repeat center;
    background-size: cover;
    height: 40vh;
    position: relative;
}

.banner-bg-index {
    background-image: url("../images/index/bg-banner-index.jpg");
}

.banner-bg-gallery {
    background-image: url("../images/gallery/bg-banner-gallery.jpg");
}

.banner-bg-contact {
    background-image: url("../images/contact/bg-banner-contact.jpg");
}

.banner-bg-gradient {
    background-image: linear-gradient(#FFDCBB, rgba(255, 220, 203, 0));
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
}

.banner-bg-logo {
    background: url("../images/logo-transparent.gif") no-repeat center;
    background-size: cover;
    width: 208px;
    height: 120px;
    margin: auto;
}


/* ##### MAIN CONTENT ##### */

.content {
    background-color: #2B1E18;
    color: #FFDCBB;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.content h2 {
    margin: 50px 0 25px 0;
}

.content .dot {
    margin-top: 50px;
}


/* This disables the class in mobile and tablet view. In desktop view this is activated by switching to absolute. */
.content-item .fix-center {
    position: relative;
}

.content-item {
    margin: 50px auto 0;
}

.content .content-item:last-of-type {
    margin-bottom: 50px;
}

.dot {
    background-color: #FFDCBB;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: auto;
}

hr {
    background: #ffdccb4d;
    border: 0;
    height: 1px;
    margin: 10px 0 10px 0; 
}

/* # gallery.html # */

.gallery-thumb-wrapper {
    display: none;
}

.gallery-photo {
    width: 100%;
    height: 100%;
    margin: 10px auto;
}

/* Disables last 2 photos in each section in mobile view */
.gallery-photo:nth-of-type(3),
.gallery-photo:nth-of-type(4),
.gallery-photo:nth-of-type(7),
.gallery-photo:nth-of-type(8),
.gallery-photo:nth-of-type(11),
.gallery-photo:nth-of-type(12) {
    display: none;
}

/* Disables links to main gallery in mobile and tablet view */
.gallery-menu-link {
    display: none;
}

.content h3 {
    margin-top: 50px;
}

/* # contact.html # */

.profile-photo {
    background: no-repeat center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border: 10px solid #FFDCBB;
    border-radius: 50%;
    margin-bottom: 50px;
}

.content article {
    width: 90%;
    margin: auto;
}

.form {
    width: 90%;
    margin: 50px auto;
}

.form input {
    height: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.form label {
    font-family: "Commisioner", sans-serif;
}

.form textarea {
    margin: 15px 0;
}

.form input,
.form textarea {
    background-color: #FFDCBB;
    font-family: "Thasadith",sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form .btn {
    background-color: #2B1E18;
    color: #FFDCBB;
    border-color: #FFDCBB;
    font-size: 1.1rem;
}

.form .btn:hover {
    background-color: #FFDCBB;
    color: #2B1E18;
}

.hr-contact {
    display: none;
}

.newsletter-link {
    color: #FFDCBB;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 50px;
}


/* ##### FOOTER ##### */

footer {
    background-color: #FFDCBB;
    color: #2B1E18;
    text-align: center;
    padding: 5px;
}

footer a {
    display: inline-block;
    color: #2B1E18;
    margin: 5px;
    transition: 0.2s;
}

footer a:hover {
    color: #978574;
}

footer p {
    font-size: 0.8rem;
}


/* ##### MEDIA QUERIES ##### */

/* ## Tablet ## */

@media only screen and (min-width: 768px) {

    .gallery-photo-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-photo {
        width: 48%;
    }

    .gallery-photo:nth-of-type(3),
    .gallery-photo:nth-of-type(4),
    .gallery-photo:nth-of-type(7),
    .gallery-photo:nth-of-type(8),
    .gallery-photo:nth-of-type(11),
    .gallery-photo:nth-of-type(12) {
        display: block;
    }
}


/* ## Desktop ## */

@media only screen and (min-width: 1200px) {

/* general styles */

    .banner {
        display: flex;
        flex-direction: row;
    }

    .banner-title-wrapper {
        display: flex;
    }

    .banner-bg {
        width: 100%;
    }

    .banner-bg-gradient {
        background-image: linear-gradient(90deg, #FFDCBB, rgba(255, 220, 203, 0));
        height: 100%;
        width: 50%;
        left: 0;
    }

    .banner-bg-logo {
        width: 374px;
        height: 216px;
    }

/* index.html */

    .content>p {
        width: 50%;
        margin: 0 auto;
    }

    .dot {
        display: none;
    }

    .content-item-wrapper {
        display: flex;
    }

    .content-item {
        background-color: #FFDCBB;
        color: #2B1E18;
        position: relative;
        margin: 50px auto;
        width: 25vw;
        height: 35vh;
    }

    .content-item .fix-center {
        position: absolute;
        height: fit-content;
        transition: 0.2s;
    }

    .content-item .fix-center:hover {
        transform: scale(1.1);
        font-weight: 800;
    }

    .content-item h3 {
        margin-top: 0;
    }

    .content-item * {
        width: 90%;
        margin: auto;
    }

    .content .fix-center {
        height: fit-content;
    }

/* gallery.html */

    .gallery-thumb-wrapper {
        display: flex;
        justify-content: space-between;
        width: 910px;
        margin: 0 auto;
    }

    .gallery-thumb-bg {
        background-color: #FFDCBB;
        height: 280px;
        width: 290px;
        margin-top: 50px;
    }

    .gallery-thumb {
        display: inline-block;
        height: 200px;
        margin-top: 20px;
        transition: 0.2s;
    }

    .gallery-thumb:hover {
        transform: scale(1.05);
    }

    .gallery-thumb-title {
        color: #2B1E18;
        font-weight: 800;
        margin-top: 16px;
    }

    .badge {
        background-color: #2B1E18;
        color: #FFDCBB;
        font-size: 0.9rem;
        font-weight: 800;
        border-radius: 10%;
        padding: 0 4px;
    }

    .gallery-menu-link {
        display: block;
    }

    .gallery-menu-link:last-of-type {
        margin-bottom: 50px;
    }

    .gallery-menu-link a {
        color: #FFDCBB;
        font-size: 0.6rem;
    }


/* contact.html */

    .content-about {
        display: flex;
    }

    .about-info {
        width: 50%;
    }

    .form-wrapper {
        width: 50%; 
        position: relative;
    }

    .form {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        width: 95%;
    }

    .hr-contact {
        display: block;
        margin-top: 50px;
    }
}