
/* ##### GENERAL STYLES AND TYPOGRAPHY ##### */

* {
    margin: 0;
    padding: 0;
}

/* ##### NAVBAR ##### */

navbar {
  background-color: #2B1E18;
  color: #FFDCBB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  background: url("../images/logo-transparent.gif") no-repeat center;
  background-size: cover;
  height: 67px;
  width: 111px;
  margin: 5px;
}

.navbar-items {
  display: flex;
}

.navbar-items li {
  list-style: none;
  text-align: center;
  width: 70px;
  margin: 0 5px;
}

.navbar-items a{
  color: #FFDCBB;
  transition: 0.2s;
}

.navbar-items a:hover {
  font-weight: bold;
}

/* ##### BANNER ##### */

/* # Banner title section # */

.banner {
  display: flex;
  flex-direction: column;
  background-color: #FFDCBB;
  color: #2B1E18;
  position: relative;
}

.banner-title-wrapper {
  display: flex; 
}

.banner-title {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 20px 0;
}